/* You can add global styles to this file, and also import other style files */
body {
    background-color: #1e1eb3; /* Cor de fundo do body */
    font-family: 'Arial', sans-serif; /* Definindo a fonte global */
    margin: 0;
    padding: 0;
    color: #333; /* Cor do texto */
  }